
/* 修改经典Java代码高亮配色 */
.cm-s-inner .cm-keyword { color: #cc7832; }        /* 关键字: 橙色 */
.cm-s-inner .cm-operator { color: #ffffff; }      /* 操作符: 白色 */
.cm-s-inner .cm-variable { color: #ffc66d; }      /* 变量: 浅黄色 */
.cm-s-inner .cm-variable-2 { color: #9876aa; }    /* 变量2: 紫色 */
.cm-s-inner .cm-variable-3 { color: #6a8759; }    /* 变量3: 绿色 */
.cm-s-inner .cm-builtin { color: #cc7832; }       /* 内建函数: 橙色 */
.cm-s-inner .cm-atom { color: #cc7832; }          /* 原子: 橙色 */
.cm-s-inner .cm-number { color: #6897bb; }        /* 数字: 蓝色 */
.cm-s-inner .cm-def { color: #ffc66d; }           /* 定义: 浅黄色 */
.cm-s-inner .cm-string { color: #6a8759; }        /* 字符串: 绿色 */
.cm-s-inner .cm-string-2 { color: #6a8759; }      /* 字符串2: 绿色 */
.cm-s-inner .cm-comment,
.cm-s-inner .cm-meta { color: #808080; }          /* 注释: 灰色 */
.cm-s-inner .cm-attribute { color: #9876aa; }     /* 属性: 紫色 */
.cm-s-inner .cm-property { color: #9876aa; }      /* 属性: 紫色 */
.cm-s-inner .cm-qualifier { color: #ffc66d; }     /* 限定符: 浅黄色 */
.cm-s-inner .cm-tag { color: #cc7832; }           /* 标签: 橙色 */
.cm-s-inner .cm-tag.cm-bracket {color: #ffffff;}  /* 标签括号: 白色 */
.cm-s-inner .cm-header, .cm-s-inner.cm-header {color: #cc7832;} /* 标题: 橙色 */
